<!DOCTYPE html>
<html lang="pt-BR">
<%- include("head"); %>

    <body class="container pt-5">
        <%- include("header"); %>

            <main>
                <div class="jumbotron">
                    <h1>Sobre mim</h1>
                    <p>Oi, sou Kiérico estudante do curso de Ciência da Computação.</p>
                </div>
            </main>

            <%- include("footer"); %>
    </body>

</html>